aiohttp
async_generator
bs4
cowpy
cowsay
cryptg
dnspython
emoji
gitpython
google-api-python-client
google-auth-oauthlib
googletrans>=2.4.0
google_auth_oauthlib
google_images_download>=2.7.1
gsearch>=1.6.0
gTTS>=2.0.1
gTTS-token>=1.1.3
hachoir
hastebin.py>=0.2
incremental
lmgtfy
lxml
Pillow>=5.3.0
psycopg2
psycopg2-binary
pybase64>=0.4.0
pyfiglet
PyLyrics
python-dotenv
pythonping
pytube>=9.5.1
pytz
qrcode
requests>=2.18.4
speedtest-cli>=2.0.2
spotify_token
sqlalchemy>=1.2
telegraph
humanize
telethon>=1.9
telethon-session-sqlalchemy>=0.2.6
urbandict>=0.5
wikipedia>=1.4.0
