aiohttp
aria2p
async_generator
asyncurban
bs4
cffi>=1.0.0
cowpy
cryptg
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download>=2.7.1
googletrans>=2.4.0
gTTS-token>=1.1.3
gTTS>=2.0.1
hachoir>=3.0a5
heroku3>=3.4.0
httplib2
humanize
lxml
lyricsgenius
oauth2client
Pillow>=6.0.0
psycopg2
psycopg2-binary
pybase64>=0.4.0
pyfiglet
PyGithub
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
requests>=2.18.4
search-engine-parser>=0.6.1
speedtest-cli>=2.0.2
sqlalchemy>=1.2
telegraph
telethon-session-sqlalchemy>=0.2.6
telethon==1.15.0
TgCrypto>=1.2.0
wikipedia>=1.4.0
youtube-dl
youtube_search
