aiohttp[speedups]
aria2p
async_generator
asyncurban
bs4
CairoSVG
cffi
cowpy
deezloader
dnspython
emoji
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_images_download
google_trans_new
gTTS
gTTS-token
hachoir
heroku3
httplib2
humanize
lottie
lxml
lyricsgenius
oauth2client
Pillow
psycopg2
psycopg2-binary
pybase64
pyfiglet
PyGithub
pylast
pySmartDL
python-barcode
python-dateutil
python-dotenv
pytz
qrcode
requests
search-engine-parser
speedtest-cli
sqlalchemy==1.3.23
telegraph
telethon
telethon-session-sqlalchemy
telethon-tgcrypto
wikipedia
youtube_search
yt-dlp
